/* .App {
  text-align: center;
} */
body{
  font-family: "Times New Roman", Times, serif;
  overflow-x: hidden;
}
#top {
  position: sticky;
  top: 0;
}
#menu{
  padding-top: 8px;
}
#title{
  padding-top: 4px;
  text-align: center;
}
#menus{
  text-decoration: none;
  color: black;
}

/* home */
.head-text {
  position: relative;
}
#heading{
  font-size: 5em;
}
.text-on-image {
 position: absolute;
 right: 10%;
 left: 10%;
 bottom: 5%;
}
/* about */
#about-text{
  background-color: #ededed;
  text-align: justify;
  padding: 10%;
  font-size: 1.2em;
}
/* contact */
article p{
  font-size: 1.2em;
}

/* footer */
footer{
  text-align: center;
}
@media only screen and (max-width: 600px) {
  #heading{
    font-size: 3em;
  }
  #menu{
    padding-top: 1px;
  }
  #title{
    padding-top: 4px;
    font-size: 1.6rem;
  }
  #about-text{
    font-size: 1em;
  }
}